/* Dark mode */
@media (prefers-color-scheme: dark) {
    html {
        background: black;
        color: white;
    }
}

body {
  color: #eee;
  background: #121212;
}
body a {
  color: #809fff;
}

body p {
  color: #809fff;
}
